body {
    height: 1000px;
}

section {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}


.Home {
    background-color: rgb(198, 196, 196);
    color: rgb(7, 114, 255);
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    height: 300px;
}


.intro {
    display: flex;
}

.typing {
    position: relative;
    margin-left: 10px;
}

.typing::after {
    content: "";
    position: absolute;
    right: -2px;
    width: 2px;
    height: 85%;
    border-right: 3px solid black;
    animation: blink 0.5s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline *//* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}